<h2>Gitで削除したファイルを復元する簡単な方法</h3>

「あのファイル過去に削除しちゃったけど、実は必要だった」「あの消しちゃったプログラムを改造して、新しいプログラムを作りたい」。Gitで削除したファイルを復元する簡単な方法のご紹介です。

Gitはすべてのファイルとディレクトリの変更履歴を持っています。ですので、必要なことは、過去の状態に戻す方法と、ファイルを削除したコミットのひとつ前のコミットを知ることです。

<h3>ファイルを削除したコミットのひとつ前のコミットIDを見つける</h3>

<a href="/blog/20201103093112.html">git log</a>コマンドで、過去のコミットを見ることができます。

<pre>
git log
</pre>

<pre>
commit 23cd914d4f7087a01a1d23c66edc98026013102d
Author: Kimoto Yuki <kimoto.yuki@google.com>
Date:   Wed Nov 25 10:20:34 2020 +0900

    不要な○○ファイルを削除

commit a15a73d62711fd9a5469ae7791241a4fd8978537
Author: Kimoto Yuki <kimoto.yuki@google.com>
Date:   Wed Nov 25 10:20:34 2020 +0900

    ヘッダーを修正
</pre>

ファイル消す前のコミットID「a15a73d...」がすぐに見つかればそれでOKです。

消したのが、だいぶ前だった場合、コミットメッセージをたどるのは大変です。そのような場合は、コミットメッセージを検索しましょう。コミットメッセージは、思い出す必要がありますよ。

<pre>
git log --grep 削除
</pre>

コミットメッセージに「〇〇を削除」みたいなのを入れておいた場合は、これで検索できます。

このコミットのコミットIDを取得しましょう。

<pre>
commit 23cd914d4f7087a01a1d23c66edc98026013102d
Author: Kimoto Yuki <kimoto.yuki@google.com>
Date:   Wed Nov 25 10:20:34 2020 +0900

    不要な○○ファイルを削除
</pre>

Gitでは、一つ前のコミットIDというのを「コミットID^」で表現できます。

<pre>
# 一つ前のコミットのコミットID
23cd914d4f7087a01a1d23c66edc98026013102d^
</pre>

<h3>ブランチを作成してチェックアウト</h3>

上記のコミットIDから新しいブランチを作りましょう。ここでは名前は「old」とします。

<pre>
git branch old 23cd914d4f7087a01a1d23c66edc98026013102d^
</pre>

git checkoutして、ブランチを切り替えます。

<pre>
git checkout old
</pre>

古いファイルがあるかを見つけて、どこかにコピーしましょう。そして、元のブランチに戻ります。
