<h2>git commit - コミットする</h2>

コミット準備されたファイルをコミットするには「git commit」コマンドを使用しますコメントを直接入力する場合は「-m」オプションを使用します。

<pre>
# コメントを直接入力してコミット
git commit -m "コメント"

# コメントをviなどのエディタで開いて記述してからコミット
git commit
</pre>

コミットコメントは、ソースコードの変更の内容を記述します。

コミットする前に、コミット準備が行われている必要があります。コミット準備を行うには「<a href="/blog/20201112094521.html">git add</a>」コマンドを使用します。

<a href="https://linux.perlzemi.com/blog/20190401171737.html">viエディタ</a>で開いた場合はコメントを書いて「Esc」でコマンドモードにして「wq」と入力してEnterを押します。

<h3>Gitにおけるコミットとは何ですか?</h3>

Gitにおけるコミットとは、ある時点におけるファイルとディレクトリの状態のことです。これは40桁のコミットIDによって識別されます。

<pre>
# コミットID
6b984517092ca6dd61faa7938c136aa468ba6c44
</pre>

コミットIDがわかれば、ファイルとディレクトリを、その状態まで、戻すことができます。

Gitは、個々のコミット間のファイルとディレクトリの差分の情報を持っており、それを最初のコミットから積み上げることで、ある時点におけるファイルとディレクトリの状態を復元します。

<h3>コミットIDは衝突しないのですか?</h3>

コミットIDはSHA1ハッシュ関数の値なので、衝突することはありえますが、天文学的に小さい確率なので、実用上は大丈夫ということなのでしょう。もしたとえ、ぶつかったとしても、ソースコードにわずかな変更「空白追加」などで回避できるはずです。
