<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Git</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/tutorial.html">
        <span itemprop="name">入門</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>リモートリポジトリにブランチをプッシュする</h2>

リモートリポジトリにブランチをプッシュする方法を解説します。<a href="/blog/20210729082405.html">コミットが完了</a>していることを前提とします。
<h3>リモートリポジトリとは</h3>

リモートリポジトリとは、リモートにあるリポジトリのことです。たとえば、Github上にあるリポジトリが該当します。

リモートリポジトリは、URLを使って表現できます。

<pre>
# リモートリポジトリをURLで表現
git@github.com:yuki-kimoto/perlzemigit.git
</pre>

ただしこれは、覚えておくことが面倒なので、名前を付けておくことが、ほとんどです。名前を付けるには「git remote add」コマンドを使用します。

<pre>
git remote add origin git@github.com:yuki-kimoto/perlzemigit.git
</pre>

デフォルトのリモートブランチは、originという名前を付けるのが慣例です。

<h3>ブランチとは</h3>

Gitのブランチについて解説します。Gitのブランチとは、コミットへの参照です。それぞれのコミットはコミットIDで表現されますが、そのコミットIDが伸びている先頭の部分に、名前を付けたものがブランチです。

<pre>
            main
* - * - * - *
  |
  - * - *
        add_api
</pre>

Gitでは、デフォルトのブランチ名はmasterです。masterは、奴隷制度の主人をイメージするというユーザーのために、新しいバージョンのGitでは、デフォルトブランチ名を任意でつけることもできるようになっています。

<h3>ローカルリポジトリとリモートリポジトリ</h3>

Gitでは、ローカルリポジトリもリモートリポジトリも、ファイル全体の完全な情報を持つのでした。

プッシュとはなんでしょうか? プッシュとは、以下の二つを行うことだと考えてください。

1. ローカルリポジトリの情報をリモートリポジトリに転送する
2. ブランチの先頭を合わせる

ローカルリポジトリが次の状態だとします。

<pre>
            main
* - * - * - * 
</pre>

リモートリポジトリ「origin」が次のような状態だとします。

<pre>
        main
* - * - *
</pre>

プッシュとは、つまり、ローカルリポジトリの新しいコミットを、リモートリポジトリに転送し、ブランチの位置を合わせることです。

<h3>プッシュする</h3>

プッシュするには「git push」コマンドを使用します。引数は、リモートリポジトリ名、ブランチ名です。

<pre>
git push origin main
</pre>
