<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Git</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/commands.html">
        <span itemprop="name">コマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>git pull - リモートリポジトリの内容をローカルリポジトリに転送してマージ</h2>

git pullコマンドを使うと、リモートリポジトリの内容をローカルリポジトリに転送し、カレントブランチに、指定したリモートブランチをマージすることができます。

以下は、リモートリポジトリ「origin」とリモートブランチ「main」を指定して、カレントブランチに、マージします。

<pre>
# リモートリポジトリの内容をローカルリポジトリに転送してマージ
git pull origin main
</pre>

git pullコマンドは、フェッチ「<a href="/blog/20210809142256.html">git fetch</a>」とマージ「<a href="/blog/20210819082837.html">git merge</a>」を一度に行うコマンドです。
