<h2>git merge - マージする(書きかけ)</h2>

「git merge」コマンドでマージができます。git mergeの引数はコミットIDですが、<a href="/blog/20201220091244.html">ブランチ</a>はコミットIDに名前を付けたもので、日常の用途においては、ブランチ名を指定してマージを行います。マージ先は、現在のカレントブランチです。

<pre>
git merge ブランチ名
</pre>

<h3>マージって何?</h3>

マージとは、ソースコードに加えられた変更を、取り込むことをいいます。

たとえば私の現在のmainブランチに「a.txt」というファイルがあったとします。

<b>わたしの現在のmainブランチの「a.txt」の内容</b>

<pre>
foo
bar
</pre>

マシュマロさんが「main」ブランチから派生させた「masu_fix_bug」というブランチで、作業を行い、コミットをしていったとしましょう。そして「a.txt」は次のようになりました。

<b>マシュマロさんの「masu_fix_bug」ブランチの「a.txt」の内容</b>

<pre>
foo
bar
baz
</pre>

私は「main」ブランチにマシュマロさんの「masu_fix_bug」の内容を取り込みたい。

このような場合に、差分を解析して、取り込んでくれるのが、マージという機能です。
