<h2>git revert - 元に戻す変更内容でコミット</h2>

「git revert」コマンドを使うと、指定したコミットを、元に戻す変更内容でコミットできます。

<pre>
git revert コミットID
</pre>

<h3>git revertはいつ使うの?</h3>

Gitはコミットの履歴を持っており、その履歴を維持したまま、過去の変更を元に戻したいという場合が、あります。

そのような場合に「git revert」コマンドを使って、過去の変更を元に戻す変更内容でコミットできます。

<h3>git revertをさらに戻すことはできるの</h3>

はい「git revert」したコミットIDを指定すると、リバートのリバートを行うことができます。

<h3>複数の連続した変更内容があった場合はどうするの?</h3>

コミットIDを調べて、新しい方から古い方に向かって複数回「git revert」を実行します。手間がかかりますが、やる必要があるときは、やる必要があります。

<pre>
git revert コミット3
git revert コミット2
git revert コミット1
</pre>

間違いが発生しやすい手順なのでmasterブランチではやらずに、まずは「<a href="/blog/20201220091244.html">git branch</a>」コマンドでブランチを作成してやるのが安心でしょう。
