<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Git</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/commands.html">
        <span itemprop="name">コマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>git push - ローカルリポジトリの内容をリモートリポジトリに転送</h2>

git pushコマンドを使うと、ローカルリポジトリの内容をリモートリポジトリに転送し、ブランチの先頭位置を更新できます。

<pre>
# ローカルリポジトリの内容をリモートリポジトリに転送し
# リモートリポジトリのmainブランチの位置を更新
git push origin main
</pre>

<h3>タグをリモートリポジトリに追加するには</h3>

タグをリモートリポジトリに転送するには、ブランチ名の代わりに、タグ名を指定します。

<pre>
git push origin タグ名
</pre>

<h3>すべてのタグをリモートリポジトリに追加する</h3>

すべてのタグをリモートリポジトリに追加したい場合は「--tags」を引数に指定します。

<pre>
git push origin --tags
</pre>

<h3>ブランチ名を明示的にしていするのが良いの?</h3>

はい。ブランチ名を明示的に指定するのが良いです。引数を省略した場合はGit 2.0より前のバージョンでは、すべてのブランチの先頭位置を更新してしまうからです。

Git 2が、広くインストールされるようになるまでは、ブランチ名を明示的に指定しましょう。
