<h2>コミットを行う</h2>

Gitでコミットを行う方法を解説します。<a href="/blog/20201113141302.html">git commit</a>コマンドで、コミットができます。<a href="/blog/20210723090147.html">コミットの準備</a>ができている必要があります。

コミットを行うには、ソースコードの変更の要点を記述したコメントを入力する必要があります。「-m」オプションで指定します。このコメントは、コミットメッセージと呼ばれます。

<pre>
# コメントを直接入力してコミット
git commit -m "コメント"
</pre>

「-m」オプションを使用しない場合は、viなどのエディタで、開くことができます。このエディタは、Gitの設定ファイルで設定することもできます。

<pre>
# コメントをviなどのエディタで開いて記述してからコミットメッセージを書くこともできます。
git commit
</pre>

<h3>コミットの確認</h3>

コミットを確認するには<a href="/blog/20201103093112.html">git logコマンド</a>を使います。

<pre>
git log
</pre>

git logの出力のサンプルです。一番上が新しいコミットです。今コミットしたコミットメッセージが、一番上にきていることを確認しましょう。

<pre>
commit 99e77ecbb2fa0922aed2995ebc20eea20b559a87 (HEAD -> main, origin/main)
Author: Yuki Kimoto <kimoto.yuki@gmail.com>
Date:   Thu Jul 29 08:58:33 2021 +0900

    ウィンドウのテキストを取得を追加

commit 8166b40288648dab314147df751c2d27788b1d03
Author: Yuki Kimoto <kimoto.yuki@gmail.com>
Date:   Wed Jul 28 08:53:01 2021 +0900

    子ウィンドウの一覧を取得とデスクトップウィンドウの取得を追

commit 7768973127fa0495e1ac8ab745d2f10fc1c38f8a
Author: Yuki Kimoto <kimoto.yuki@gmail.com>
Date:   Tue Jul 27 08:16:09 2021 +0900

    PerlでWebブラウザ自動操作ロボット作成方法のまとめ加筆
</pre>

注意点として、これは、個人サイトのものなので、コミットメッセージがだいぶ適当ですが、共同開発の場合は、もう少し丁寧に書きましょう。

<h3>間違ったコミットを戻すには?</h3>

間違ってコミットしたことに、コミット直後に気が付きました。こんな場合は、間違ったコミットを戻すには、どうすればよいのでしょうか?

「git reset」コマンドを使って、以前のコミットまで戻します。一つ前のコミットIDを確認しましょう。上記の例では以下の「8166b40288648dab314147df751c2d27788b1d03」です。

<pre>
commit 8166b40288648dab314147df751c2d27788b1d03
Author: Yuki Kimoto <kimoto.yuki@gmail.com>
Date:   Wed Jul 28 08:53:01 2021 +0900

    子ウィンドウの一覧を取得とデスクトップウィンドウの取得を追
</pre>

このコミットIDを「git reset」の引数に指定します。

<pre>
# 一つ前のコミットに戻す
git reset 8166b40288648dab314147df751c2d27788b1d03
</pre>

間違っても「git reset」コマンドに「--hard」オプションを指定しないようにしましょう。ワーキングディレクトリでのファイルの変更がすべて戻り、涙が出てきます。テキストエディタでファイルを開いていて、内容が残っている場合は、素早く上書きしましょう。
