<h2>git fetch - リモートリポジトリの情報取得</h2>

git fetchコマンドを使用するとリモートリポジトリの情報を取得することができます。感覚的には、リモートリポジトリを、ローカルリポジトリへ同期すると考えてください。

<pre>
# リモートリポジトリの情報を取得
git fetch
</pre>

<h3>git fetchを使うのはどのようなときですか?</h3>

「git pull」コマンドを使うと「git fetch」を行うことに加えて、現在のブランチに指定したリモートリポジトリのブランチの変更内容をマージしてくれます。

ですので「git pull」よりも「git fetch」を使いたい場合は、現在のブランチにリモートブランチの変更内容をマージしたくない場合です。

他の開発者が作ったリモートにあるブランチを元に、ローカルのブランチを作ったり、手動でリモートリポジトリのブランチをマージしたいときなどがあります。

また、安全のために「git pull」をまったく使わずに「git fetch」とマージ作業を分けて行うという開発者の方もおられます。

<h3>git fetchで知っておいた方が良いことを教えてください</h3>

タグは、同期されます。

リモートブランチとローカルブランチを区別してください。git fetchをすると、リモートブランチを、ローカルリポジトリの中に取り込みますが、リモートブランチとローカルブランチは異なるものです。

リモートブランチは「origin/foo」のように先頭に「origin」がついています。

<a href="/blog/20201220091244.html">git branch</a>コマンドで、ローカルブランチ表示してみましょう。

<pre>
# ローカルブランチの表示
git branch
</pre>

ローカルブランチの出力結果の例です。

<pre>
main
foo
bar
</pre>

git branchコマンドの「-r」オプションで、リモートブランチを表示してみましょう。

<pre>
# リモートブランチの表示
git branch -r
</pre>

リモートブランチの出力結果の例です。

<pre>
origin/foo
origin/baz
</pre>

ややこしいのは、リモートブランチとは、リモートリポジトリにあるブランチのことではなくって、ローカルリポジトリの中にある、リモートリポジトリにあるブランチのコミットを指し示すブランチだということです。

ややこしいですが「origin/foo」「origin/baz」は「git fetch」により、ローカルリポジトリに取り込まれたと、考えてください。
