<div class="what_is_this_site">
  <div>
    <b>Git</b>は、分散リポジトリ型のソースコードの管理ツールです。ブランチの作成速度は高速です。<br>
    ソースコードの変更履歴のすべてをリモートリポジトリだけでなく、ローカルのリポジトリも保存しています。このため簡易的なファイルのバックアップ用途としても使えます。<br>
    Gitは、Githubなどのクラウド型ソースコード管理システムの基盤です。<br>
    opensslなど他の<a href="https://linux.perlzemi.com/">Unix/Linux</a>ミドルウェアと同じく、Gitは主に<a href="https://c.perlzemi.com/">C言語</a>で記述されており、<a href="https://tutorial.perlzemi.com/">Perl</a>がサポートツールとして、一部利用されています。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    Copyright © Perl総合研究所
  </a>
</div>
