<!-- side -->
<div class="side_list">
  <div class="side_list_title">
    講座作成
  </div>
  <ul>
    <li style="text-align:center;padding-left:0"><a href="http://www.perlri.com/"><img width="110" src="https://tutorial.perlzemi.com/images/kaeru_w_01.png"><br>プログラミングスクール<br>Perl元気塾</a></li>
  </ul>
</div>
<div class="side_list">
  <div class="side_list_title">
    コンテンツ
  </div>
  <ul>
    <li><a href="/blog/20200613091136.html">Github公開鍵登録</a></li>
    <li><a href="/list.html">新着情報</a></li>
  </ul>
</div>
<div class="side_list">
  <div class="side_list_title">
    Perlテキスト処理のエッセンス
  </div>
  <ul>
    <li style="text-align:center;">
      <a href="https://www.perlri.com/book/perl_text_essense"><img alt="テキスト処理" src="https://tutorial.perlzemi.com/images/book/perl_text_essence.jpg" width="160"></a><br>
      <a href="https://www.perlri.com/book/perl_text_essense">Perlテキスト処理のエッセンス</a><br>
    </li>
  </ul>
</div>
