<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Git</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>Githubとの連携</h2>

GitとGithubとの連携方法の解説します。

<h4>Gitリポジトリ管理 - システム開発のソースコード管理</h4>

<ul>
  <li><a href="/blog/20200615091136.html">Githubへのアカウント登録</a></li>
  <li><a href="/blog/20200614091136.html">GithubでのGitリポジトリの作成</a></li>
  <li><a href="/blog/20200613091136.html">Githubに公開鍵を登録する</a></li>
</ul>

<h4>Github Wikiを使った手順書管理</h4>

Github Wikiを使った手順書管理について解説します。

プライベートリポジトリにおけるWikiの利用は現在、有料コースのみとなっています。

手順書を無料で運用したい場合は、Githubリポジトリの各ページのREADME.mdをうまく活用しましょう。

<ul>
  <li><a href="/blog/20200618094326.html">GithubのWikiの新規作成</a></li>
  <li><a href="/blog/20200617094326.html">GithubのWikiの編集</a></li>
  <li><a href="/blog/20200616094326.html">Github Wikiのコンテンツのバックアップ方法</a></li>
  <li><a href="/blog/20200612091136.html">Github Wikiのコンテンツの検索方法</a></li>
</ul>
