<h2>Perl開発者のGit入門</h2>

Perl開発者のGit入門は、Perl開発者が効率よくソースコード管理ツールGitを学べる講座です。GitはLinuxサーバー上でWebアプリケーションのプログラムのソースコードやHTML・CSSを管理するために実務で広く活用されているコマンドラインツールです。

<pre>
# ソースコードをコミット(ファイル管理情報に追加)する
git commit -m "Fix web api bug"

# ソースコード管理情報をリモートサーバーに転送
git push origin main

# チームの他のメンバーが修正した内容を取り込む
git merge tanaka_web_api_fix
</pre>

<h3>Git入門</h3>

Git入門です。Gitでソースコードを管理する技術を学びましょう。

<ul>
  <li><a href="/tutorial.html">Git入門</a></li>
</ul>

<h3>Gitコマンド</h3>

Gitコマンドの紹介。

<ul>
  <li><a href="/commands.html">Gitコマンド</a></li>
</ul>

<h3>Githubとの連携</h3>

GitとGithubとの連携方法の解説します。

<ul>
  <li><a href="/github.html">Githubとの連携</a></li>
</ul>

<h3>記事一覧</h3>

<ul>
  <li><a href="/list.html">記事一覧</a></li>
</ul>

<h3>Git関連情報</h3>

Git関連情報です。Gitは、Linux、C言語、Perlと関連性が高いです。GiblogでHTMLとCSSで作成したWebサイトをGitで管理することができます。Gitに関する質問ができるフォーラムもご用意しています。

<h4>Linux</h4>

GitはもともとLinuxのソースコードを管理するためにLinuxの創造者であるリーナスさんが、作ったものです。Linuxに入門したい方はこちら。

<ul>
  <li><a href="https://linux.perlclub.net/">Linuxサーバー管理入門 - Perlでポータブルファイル管理</a></li>
</ul>

<h4>C言語</h4>

Gitは主にC言語で記述されています。C言語を学びたい方はこちら。

<ul>
  <li><a href="https://clanguage.perlclub.net/">Perl XSユーザーのC言語入門</a></li>
</ul>

<h4>Perl</h4>

Gitは部分的にPerlで記述されています。Perlを学びたい方はこちら。

<ul>
  <li><a href="https://perlzemi.com/">Perlゼミ - Perlプログラミング入門</a></li>
</ul>

<h4>Giblog</h4>

Giblogはあなたが作るWebサイトをGitで管理するための便利なツールです。このサイトも実はGiblogで作成されGitで管理されています。

<ul>
  <li><a href="https://giblog.perlclub.net/">Giblog - Gitで管理できるWebサイト作成ツール</a></li>
</ul>

<h4>Gitに関する質問をしたい</h4>

Perlクラブには、Gitについて気軽に質問ができる会員限定のフォーラムがあります。

<ul>
  <li><a href="https://perlclub.net">仲間と出会いゆとりあるエンジニアライフを送る - Perlクラブ</a></li>
</ul>
