<h2>Perl開発者のGit入門 - Git元気</h2>

Perlのソースコードの管理にGitを利用する方法を想定した、Git入門です。<a href="https://linux-perl-genki.com/">Linuxサーバー管理者</a>、<a href="https://web-application-perl-genki.com/">Webアプリケーション開発者</a>がソースコード管理を行うことを想定しています。

<h3>Gitの基本</h3>

<ul>
  <li><a href="/blog/20210719151607.html">Gitとは</a></li>
  <li><a href="/blog/20210720092930.html">Gitリポジトリの初期化</a></li>
  <li><a href="/blog/20210721142530.html">メールアドレスと名前の登録</a></li>
  <li><a href="/blog/20210723090147.html">コミットの準備を行う</a></li>
  <li><a href="/blog/20210729082405.html">コミットを行う</a></li>
</ul>

<h3>Gitコマンド</h3>

<ul>
  <li><a href="/blog/20201109142343.html">git init - Gitリポジトリの初期化</a></li>
  <li><a href="/blog/20201103093112.html">git log - コミットログの内容を見る</a></li>
  <li><a href="/blog/20201110105057.html">git status - コミット準備されているかを確認する</a></li>
  <li><a href="/blog/20201112094521.html">git add - ファイルをコミット準備状態にする</a></li>
  <li><a href="/blog/20201113141302.html">git commit - コミットする</a></li>
  <li><a href="/blog/20201220091244.html">git branch - ブランチの一覧表示・ブランチの作成</a></li>
  <li><a href="/blog/20201222100951.html">git checkout - ブランチの変更</a></li>
</ul>

<h3>Gitリポジトリの基礎</h3>

<ul>
  <li><a href="/blog/20200605092020.html">git init - Gitリポジトリの初期化</a></li>
  <li><a href="/blog/20200610092020.html">Gitで管理しないファイルを設定する - .gitignore</a></li>
</ul>

<h3>Gitテクニック</h3>

<h4>元に戻す系</h4>

<ul>
  <li><a href="/blog/20201221091244.html">Gitで削除したファイルを復元する簡単な方法</a></li>
</ul>

<h3>Githubとの連携</h3>

<h4>Gitリポジトリ管理 - システム開発のソースコード管理</h4>

<ul>
  <li><a href="/blog/20200615091136.html">Githubへのアカウント登録</a></li>
  <li><a href="/blog/20200614091136.html">GithubでのGitリポジトリの作成</a></li>
  <li><a href="/blog/20200613091136.html">Githubに公開鍵を登録する</a></li>
</ul>

<h4>Github Wikiを使った手順書管理</h4>

Github Wikiを使った手順書管理について解説します。

プライベートリポジトリにおけるWikiの利用は現在、有料コースのみとなっています。

手順書を無料で運用したい場合は、Githubリポジトリの各ページのREADME.mdをうまく活用しましょう。

<ul>
  <li><a href="/blog/20200618094326.html">GithubのWikiの新規作成</a></li>
  <li><a href="/blog/20200617094326.html">GithubのWikiの編集</a></li>
  <li><a href="/blog/20200616094326.html">Github Wikiのコンテンツのバックアップ方法</a></li>
  <li><a href="/blog/20200612091136.html">Github Wikiのコンテンツの検索方法</a></li>
</ul>
