<h2>Git講座 - プロのITエンジニアのソースコード管理</h2>

実践Git入門は、プロのWeb開発者の現場で使われているソースコード管理ツールGitを学べる講座です。GitはLinuxサーバー上でWebアプリケーションのプログラムのソースコードやHTML・CSSを管理するために実務で広く活用されているコマンドラインツールです。

<pre>
# ソースコードをコミット(ファイル管理情報に追加)する
git commit -m "Fix web api bug"

# ソースコード管理情報をリモートサーバーに転送
git push origin main

# チームの他のメンバーが修正した内容を取り込む
git merge tanaka_web_api_fix
</pre>

<h3>Git入門</h3>

Git入門です。Gitでソースコードを管理する技術を学びましょう。

<ul>
  <li><a href="/tutorial.html">Git入門</a></li>
</ul>

<h3>Gitコマンド</h3>

Gitコマンドの紹介。

<ul>
  <li><a href="/commands.html">Gitコマンド</a></li>
</ul>

<h3>Githubとの連携</h3>

GitとGithubとの連携方法の解説します。

<ul>
  <li><a href="/github.html">Githubとの連携</a></li>
</ul>

<h3>記事一覧</h3>

<ul>
  <li><a href="/list.html">記事一覧</a></li>
</ul>

<h3>Gitによるソースコード開発の例</h3>

<ul>
  <li><a href="https://web-application-perl-genki.com/">Webシステム開発</a></li>
  <li><a href="https://datascience.perlzemi.com/">データ分析</a></li>
  <li><a href="https://ai-deep-learning-perl-genki.com/">ディープラーニングを使ったAI</a></li>
</ul>

<h3>Gitのコードを読み書きするための知識</h3>

<ul>
  <li><a href="https://linux-perl-genki.com/">Linux入門</a></li>
  <li><a href="https://c-language-perl-genki.com/">C言語入門</a></li>
  <li><a href="https://perlzemi.com/">Perlプログラミング入門</a></li>
  <li><a href="http://perlri.com">初心者からはじめてプロのWeb開発者になれる講座</a></li>
</ul>
